amp: false
checkpoint: ../pretrained_checkpoints/painn_h512_s2ef_all.pt
dataset:
  test:
    a2g_args:
      r_energy: false
      r_forces: false
    src: test.db
  train:
    a2g_args:
      r_energy: true
      r_forces: true
    src: train.db
  val:
    a2g_args:
      r_energy: true
      r_forces: true
    src: val.db
evaluation_metrics:
  metrics:
    energy:
    - mae
    forces:
    - forcesx_mae
    - forcesy_mae
    - forcesz_mae
    - mae
    - cosine_similarity
    - magnitude_error
    misc:
    - energy_forces_within_threshold
  primary_metric: forces_mae
gpus: 0
logger: tensorboard
loss_fns:
- energy:
    coefficient: 1
    fn: mae
- forces:
    coefficient: 100
    fn: l2mae
model: &id001
  cutoff: 12.0
  direct_forces: true
  hidden_channels: 512
  max_neighbors: 50
  name: painn
  num_layers: 6
  num_rbf: 128
  otf_graph: true
  regress_forces: true
  use_pbc: true
model_attributes: *id001
noddp: false
optim:
  batch_size: 10
  clip_grad_norm: 10
  ema_decay: 0.999
  energy_coefficient: 1
  eval_batch_size: 32
  eval_every: 1
  factor: 0.8
  force_coefficient: 100
  load_balancing: atoms
  loss_energy: mae
  loss_force: l2mae
  lr_gamma: 0.8
  lr_initial: 0.0001
  max_epochs: 2
  mode: min
  num_workers: 0
  optimizer: AdamW
  optimizer_params:
    amsgrad: true
  patience: 3
  scheduler: ReduceLROnPlateau
  weight_decay: 0
outputs:
  energy:
    level: system
  forces:
    eval_on_free_atoms: true
    level: atom
    train_on_free_atoms: true
task:
  dataset: ase_db
trainer: ocp
